//color palette
$light: #fff;
$dark: #131313;
$yellow: #d2ff52;
$red: #ff0400;
$accent-color: $yellow;

//font variants
$main-font: "Nunito", sans-serif;
$accent-font: "Tektur", sans-serif;

//transitions
$timing-function: ease;
$duration: 200ms;
