<button type="button" class="circle-btn">
  <span class="circle circle-btn__circle"></span>
  <span class="circle-btn__text">{{text}}</span>
  <img src="./src/img/custom-arrow.svg" class="circle-btn__img" alt="" />
</button>
